@page "/role"
@attribute [Authorize]
@inject IRoleManager _roleManager

<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-5">

    <MudText Typo="Typo.h3" GutterBottom="true">Manage Roles</MudText>
    <MudText Class="mb-8">This component demonstrates interfacing with the API to manage application roles.</MudText>

    <MudPaper Outlined="true" >
        <MudTable Items="_roles" Hover="true" Dense="dense" Striped="striped" Bordered="bordered" SortLabel="Sort By" Elevation="0" Loading="_processing">

            <ToolBarContent>
                <div class="justify-center mud-text-align-center">

                    <MudButton DisableElevation
                               Variant="Variant.Filled"
                               Color="Color.Primary"
                               Size="Size.Small"
                               OnClick="ShowDialogAsync"
                               StartIcon="@Icons.Material.Filled.Add"
                               IconColor="Color.Surface">
                        Create
                    </MudButton>
                    <MudButton DisableElevation
                               Variant="Variant.Filled"
                               Color="Color.Tertiary"
                               Size="Size.Small"
                               OnClick="GetRolesAsync"
                               StartIcon="@Icons.Material.Filled.Refresh"
                               IconColor="Color.Surface">
                        Refresh
                    </MudButton>
                </div>
            </ToolBarContent>

            <HeaderContent>
                <MudTh>
                    <MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<RoleResponse, object>(x => x.Name)">
                        <MudText Typo="Typo.h6">Role Name</MudText>
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<RoleResponse, object>(x => x.Description)">
                        <MudText Typo="Typo.h6">Description</MudText>
                    </MudTableSortLabel>
                </MudTh>
                <MudTh Style="text-align: center">
                    <MudText Typo="Typo.h6">Actions</MudText>
                </MudTh>
            </HeaderContent>

            <RowTemplate>
                <MudTd DataLabel="Role Name">@context.Name</MudTd>
                <MudTd DataLabel="Description">@context.Description</MudTd>
                <MudTd DataLabel="Actions" Style="text-align: center">

                    <MudMenu Label="Actions"
                             Variant="Variant.Filled"
                             DisableElevation="true"
                             EndIcon="@Icons.Filled.KeyboardArrowDown"
                             IconColor="Color.Secondary"
                             Direction="Direction.Left" OffsetX="true">

                        <MudMenuItem Disabled="true">Edit</MudMenuItem>
                        <MudMenuItem Disabled="true">Delete</MudMenuItem>

                    </MudMenu>
                </MudTd>
            </RowTemplate>

            <PagerContent>
                <MudTablePager PageSizeOptions="new int[] { 5, 10, 20 }" />
            </PagerContent>

        </MudTable>

    </MudPaper>

    <MudPaper Class="mt-1" Outlined="true" >
        <MudToolBar>
            <MudSwitch @bind-Checked="@dense" Color="Color.Primary">Dense</MudSwitch>
            <MudSwitch @bind-Checked="@striped" Color="Color.Primary">Striped</MudSwitch>
            <MudSwitch @bind-Checked="@bordered" Color="Color.Primary">Bordered</MudSwitch>
        </MudToolBar>
    </MudPaper>

    <MudAlert Severity="Severity.Info" Class="mt-1" >This page is still under construction. You may use Swagger API Authorization endpoints and visualize the results here.</MudAlert>

</MudContainer>