@page "/user-role"
@attribute [Authorize]

<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-5">

    <MudText Typo="Typo.h3" GutterBottom="true">Manage User Roles</MudText>
    <MudText Class="mb-8">This component demonstrates interfacing with the API to manage application user role assignment.</MudText>

    <MudPaper Outlined="true" >
        <MudTable Items="_users" Hover="true" Dense="dense" Striped="striped" Bordered="bordered" SortLabel="Sort By" Elevation="0" Loading="_processing">

            <ToolBarContent>
                <div class="justify-center mud-text-align-center">

                    <MudButton DisableElevation
                               Variant="Variant.Filled"
                               Color="Color.Tertiary"
                               Size="Size.Small"
                               OnClick="GetUsersAsync"
                               StartIcon="@Icons.Material.Filled.Refresh"
                               IconColor="Color.Surface">
                        Refresh
                    </MudButton>

                </div>
            </ToolBarContent>

            <HeaderContent>
                <MudTh>
                    <MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<UserResponse, object>(x => x.UserName)">
                        <MudText Typo="Typo.h6">User Name</MudText>
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<UserResponse, object>(x => x.Email)">
                        <MudText Typo="Typo.h6">Email</MudText>
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<UserResponse, object>(x => x.FirstName)">
                        <MudText Typo="Typo.h6">First Name</MudText>
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<UserResponse, object>(x => x.LastName)">
                        <MudText Typo="Typo.h6">Last Name</MudText>
                    </MudTableSortLabel>
                </MudTh>
                <MudTh Style="text-align: center">
                    <MudText Typo="Typo.h6"></MudText>
                </MudTh>
            </HeaderContent>

            <RowTemplate>
                <MudTd DataLabel="User Name">@context.UserName</MudTd>
                <MudTd DataLabel="Email">@context.Email</MudTd>
                <MudTd DataLabel="First Name">@context.FirstName</MudTd>
                <MudTd DataLabel="Last Name">@context.LastName</MudTd>
                <MudTd DataLabel="Actions" Style="text-align: center">

                    <MudButton DisableElevation
                               Variant="Variant.Outlined"
                               Color="Color.Secondary"
                               Size="Size.Small">
                        Manage Roles
                    </MudButton>

                </MudTd>
            </RowTemplate>

        </MudTable>
    </MudPaper>

    <MudPaper Class="mt-1" Outlined="true" >
        <MudToolBar>
            <MudSwitch @bind-Checked="@dense" Color="Color.Primary">Dense</MudSwitch>
            <MudSwitch @bind-Checked="@striped" Color="Color.Primary">Striped</MudSwitch>
            <MudSwitch @bind-Checked="@bordered" Color="Color.Primary">Bordered</MudSwitch>
        </MudToolBar>
    </MudPaper>

    <MudAlert Severity="Severity.Info" Class="mt-1" >This page is still under construction. You may use Swagger API Authorization endpoints and visualize the results here.</MudAlert>

</MudContainer>